body {
	font-family: 'Open Sans', sans-serif;
}

li {
	margin: 7px 0px;
}

#portrait-wrapper {
	display: flex;
	justify-content: center;
}

#portrait {
	border-radius: 50%;
	border: 5px solid black;
}

@media (max-width: 990px) {
	#portrait {
		width: 60%;
	}
}

#title {
	font-family: 'IBM Plex Serif', serif;
	font-variant: small-caps;
	font-size: 3em;
	text-align: center;
}

.main-body {
	margin: 20px auto;	
}

#personal-details i[class^="fa-"] {
	padding-right: 10px;
}

#personal-details {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	flex-direction: column;
}
